doctype html
html(lang='en')

  head

    meta(charset='utf-8')

    title

    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='description', content='.')
    meta(name='keywords', content='')
    meta(name='author', content='Luke Karrys')


    link(rel='stylesheet', href='/css/main' + (env === 'production' ? '.min' : '') + '.css')

    <!--[if lt IE 9]>
    script(type='text/javascript', src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    script.
      window.html5 || document.write('<script src="/vendor/html5shiv.js"><\/script>')
    <![endif]-->

  body
    block content

    script(src='/js/main' + (env === 'production' ? '.min' : '') + '.js')
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','XXXXXXXXXXXX','auto');ga('send','pageview');